// Add your custom CSS here.
.header  {
  background: #fff;
}
#search-form {
  border: 1px solid;
  border-radius: .25rem;
}
#user-button i, #cart-button i, .header__search-btn i {
  color: #000;
}
#cart-count {
  background: #ed1c24;
}
.footer {
  border-top: 0;
}
@media(max-width: 767px) {
  .address-form .form-row .form-group {
    width: 50%;
  }
  .checkout__step--past {
    color: #000 !important;
    opacity: .6 !important;
  }
  .checkout__step--current {
    color: var(--success) !important;
  }
  .checkout__step--current::after {
    content: '\A ETAPA 2';
    white-space: pre;
    color: var(--success)
  }
  .checkout__step--past::after {
    content: '\A ETAPA 1';
    white-space: pre;
    color: #000;
    opacity: .6;
  }
}
#product-description .container .lead {
    background: #ed1c24;
    color: #fff;
    font-weight: bold;
    padding: var(--spacer-2);
    border-radius: 5px 5px 0 0;
    margin-bottom: 0;
}
#product-description .container .html-clearfix {
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    padding: var(--spacer-2);
    margin-top: 0;
}
.product-card__buy button, .product__buy button {
    border: #ed1c24;
    background: #ed1c24;
}
